#bubble-chart {
  width: 680px;
  height: 680px;
  position: absolute;
  right: 40px;
  top: 75px;
  z-index: 1050;

  .bubble {
    position: absolute;
    border-radius: 9999px;
    background: #e0643f no-repeat center center;
    background-size: cover;
    display: block;
    cursor: pointer;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
