@import "../components/tgm-bootstrap/less/tgm-bootstrap.less";

.stage {
  position: relative;
  background: #ff835e url('/images/orange-dots.png') 0 0 repeat;

  .bubble {
    position: absolute;
    border-radius: 9999px;
    background: #e0643f no-repeat center center;
    background-size: cover;
    display: block;
    cursor: pointer;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
  }
}

#bowers-power {
  position: absolute;
  top: 15px;
  left: 15px;
}
