* { position: relative; }

.top {
  background: #ff835e url('/images/orange-dots.png') 0 0 repeat;
  color: @white;

  .container {
    height: 850px;
  }

  .title {
    margin-top: 40px;
    h1 {
      font-family: @sansFontFamily;
      .font-size(90);
      font-weight: 800;
      color: white;
      background-color: #888;
      .background-clip(text);
      letter-spacing: -5px;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    }

    a {
      color: white;
      text-decoration: underline;
    }

    p strong {
      display: block;
      width: 400px;
      line-height: 1.3;
      .font-size(22);
      font-weight: 200;
    }
  }
}

.navbar {
  margin: 0;

  .tgm-strip {
    .tgm {
      background-size: contain;
      margin-left: 20px;
    }

    .icons {
      display: block;
      margin-right: 20px;
    }
  }
}

@border-color: rgba(255,255,255,0.2);

.chart-modes {
  border: 1px solid @border-color;
  .border-radius(8px);
  margin-top: 40px;
  z-index: 1100;

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid @border-color;
    padding: 10px;

    &:first-child {
      .border-top-radius(6px);
    }

    &:last-child {
      border-bottom: none;
      .border-bottom-radius(6px);
    }

    a {
      display: block;
      .font-size(14);
      font-weight: 600;
      text-transform: uppercase;
      width: 200px;
      cursor: pointer;
      color: white;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      top: 9px;
      background: url(/images/icons.png) no-repeat transparent;
      width: 23px;
      height: 23px;
      overflow: hidden;
    }

    &.most-vocal:after {
      background-position: 0 2px;
    }

    &.least-vocal:after {
      background-position: 0 -23px;
    }

    &.most-interjections:after {
      background-position: 0 -48px;
    }
  }
}

@import "bubble-chart.less";
