* { position: relative; }

body {
  background: #ff835e url('/images/orange-dots.png') 0 0 repeat;
}

.top {
  color: @white;

  .container {
    height: 850px;
  }

  .title {
    margin-top: 40px;

    h1 {
      font-family: @sansFontFamily;
      .font-size(90);
      font-weight: 800;
      color: white;
      background-color: #888;
      .background-clip(text);
      letter-spacing: -5px;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    }

    a {
      color: white;
      text-decoration: underline;
    }

    p strong {
      display: block;
      width: 320px;
      line-height: 1.4;
      .font-size(20);
      font-weight: 600;
      z-index: 990;
      em {
        font-weight: 200;
      }
    }
  }
}

.navbar {
  z-index: 1001;
  margin: 0;

  .tgm-strip {
    .tgm {
      background-size: contain;
      margin-left: 20px;
    }

    .till-hoger {
      float: right;
      margin-right: 20px;
    }

    .icons {
      display: inline-block;
      float: none;
      padding: 1px 0;

      * {
        cursor: pointer;
      }

      :last-child {
        float: none;
        border-right: none;
        margin-right: 0;
      }
    }

    .twitter-share-button {
      top: 6px;
      margin-left: 5px;
    }

    .fb-like {
      margin-left: -25px;
      top: 3px;
    }
  }
}

@border-color: rgba(255,255,255,0.2);

.filter-item {
  display: block;
  font-weight: 600;
  .font-size(14);
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

.filter-item-border {
  border: 1px solid @border-color;
  .border-radius(6px);
}

.filter-item-icon {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 9px;
  background: url(/images/icons.png) no-repeat transparent;
  width: 23px;
  height: 23px;
  overflow: hidden;
}

#chart-modes {
  margin-top: 20px;
  z-index: 990;

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    border-top: 1px solid @border-color;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      text-decoration: none;
    }

    a {
      .filter-item;
      .opacity(20);
    }

    &:first-child {
      border-top: none;
      .border-top-radius(4px);
    }

    &:last-child {
      .border-bottom-radius(4px);
    }

    &:after {
      .filter-item-icon;
    }

    &.most-vocal:after {
      background-position: 0 2px;
      .opacity(20);
    }

    &.least-vocal:after {
      background-position: 0 -38px;
      .opacity(20);
    }

    &.most-interjections:after {
      background-position: 0 -77px;
      .opacity(20);
    }
    &.active a,
    &.most-vocal.active:after,
    &.least-vocal.active:after,
    &.most-interjections.active:after {
      .opacity(100);
    }
  }
}

#chart-filters {
  margin-top: 20px;
  z-index: 990;

  h3 {
    .font-size(12);
    text-transform: uppercase;
    margin-left: 10px;
  }

  .dropdown-filter {
    margin: 0 0 10px 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      text-decoration: none;
    }
  }

  .dropdown {
    // dropdown button
    .filter-item {
      border: 1px solid @border-color;
      .border-radius(6px);

      &:after {
        position: absolute;
        top: 0px;
        right: 10px;
        display: block;
        width: 28px;
        height: 40px;
        overflow: hidden;
        background: url(/images/icons.png) no-repeat transparent;
        background-position: 7px -109px;
        border-left: 1px solid @border-color;
        content: '';
      }

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    .dropdown-menu {
      @border-radius: 6px;
      top: -3px;
      padding: 0;
      .border-radius(@border-radius);
      overflow: hidden;
      border: none;

      li {
        border-bottom: 1px solid #ffede7;

        a {
          display: block;
          font-size: 14px;
          font-weight: bold;
          padding: 12px 10px;
          color: #e0643f;
          text-transform: uppercase;

          // selected item in dropdown list
          &[aria-selected] {
            // background-color: #ffede7;
            &:after {
              .filter-item-icon;
              background-position: 0 -192px;
            }
          }

          &:hover {
            background: #ffede7;
          }
        }

        // rounded corners on first and last options
        &:first-child a {
          .border-top-radius(@border-radius);
        }

        &:last-child a {
          .border-bottom-radius(@border-radius);
        }
      }
    }
  }
}

.filter-party {
  margin-top: 10px;
  z-index: 990;
}

.boolean-filter {
  cursor: pointer;
  margin: 0;
  border-top: 1px solid rgba(255,255,255,.9);
  .opacity(20);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }

  &.active {
      .opacity(100);
      border-top: 1px solid @border-color;
    }

  &:first-child {
    border-top: none;
  }

  input {
    position: absolute;
    right: 13px;
    top: 10px;
  }
}

#kitten-mode {
  margin-top: 80px;
  margin-bottom: 40px;
  .opacity(100);
  background: rgba(214,90,53,.4) url(/images/icons.png) no-repeat 6px -153px;
  border: none;
  border-top: 1px solid #d65a35;
  font-size: 10px;
  padding: 6px 10px 6px 30px;
    input {
      top: 5px;
    }
    &:hover {
      background-color: rgba(214,90,53,.6);
    }
}

.modal {
  p {
    .font-size(14);
    &.credits {
      margin-top: 20px;
      .font-size(12);
      color: @grayLight;
    }
  }
  .close {
    z-index: 1060;
  }
  .modal-body, .modal-header {
    padding:20px;
  }
  .modal-header {
    padding-bottom: 0;
  }

}

@import "bubble-chart.less";
