<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Talking Heads</title>

  <meta name="description" content="Talking Heads - The quietest, noisiest, and feistiest voices in Parliament.">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.5">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,800,700" rel="stylesheet" type="text/css">
  <!-- build:css /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  <meta property="og:title" content="Talking Heads">
  <meta property="og:description" content="Talking Heads - The quietest, noisiest, and feistiest voices in Parliament.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://talkingheads.theglobalmail.org/">
  <meta property="fb:admins" content="1196962639">
  <meta property="fb:admins" content="100004512551022">
  <meta property="og:image" content="http://talkingheads-assets.theglobalmail.org/images/share-avatar-th.jpg">
  <meta property="og:site_name" content="Talking Heads">

  <!-- build:js /scripts/head.js -->
  <script src="/scripts/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body role="application">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <header class="navbar" role="banner">
    <div class="tgm-strip">
      <a href="http:///www.theglobalmail.org" class="tgm">The Global Mail - Back to homepage</a>

      <div class="till-hoger">
        <div class="icons" role="navigation">
          <a class="about" href="#about-modal" data-target="#about-modal" data-toggle="modal" data-bypass>About</a>
        </div>

        <div class="share-button twitter">
          <a href="https://twitter.com/share" class="twitter-share-button-template" data-text="Talking Heads" data-via="TheGlobalMail" data-hashtags="auspol" data-bypass>Tweet</a>
        </div>

        <div class="share-button facebook">
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="light" data-action="like"></div>
        </div>
      </div>
    </div>
  </header>

  <div id="intro" hidden>
    <div class="container">
      <h2>The quietest, noisiest, and feistiest voices in Parliament.</h2>
      <h1>T<span>a</span>lking He<span>a</span>ds</h1>

      <div class="head julia">
        <img src="/images/gillard-head.png" alt="Julia Gillard" class="fiery-red-head">
        <img src="/images/gillard-mouth.png" alt="Julia's Mouth" class="julias-mouth">
      </div>

      <div class="head tony">
        <img src="/images/abbott-head.png" alt="abbott">
        <img src="/images/abbott-mouth.png" alt="abbotts mouth" class="abbotts-mouth">
      </div>

      <button class="close">Start</button>
    </div>
  </div>

  <div id="main" role="main" class="top">
    <div class="container">
      <div class="row">
        <div class="span12 title">
          <h1>Talking Heads</h1>
          <p>
            <strong>The quietest, noisiest, and feistiest voices in Parliament. <a href="#about-modal" data-target="#about-modal" data-toggle="modal" data-bypass>About this tool</a></strong>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <div id="chart-modes" class="filter-item-border">
            <ul role="menu">
              <li class="most-vocal"><a href="/most-vocal" role="menuitem">Most Vocal</a></li>
              <li class="least-vocal"><a href="/least-vocal" role="menuitem">Least Vocal</a></li>
              <li class="most-interjections"><a href="/most-interjections" role="menuitem">Most Interjections</a></li>
            </ul>
          </div>

          <div id="chart-filters">
            <h3>Filter By:</h3>

            <div id="filter-year" class="dropdown dropdown-filter" role="select" aria-label="Year">
              <a href="#" id="filter-year-button" class="filter-item dropdown-toggle" aria-hidden data-toggle="dropdown" data-target="#" data-bypass>Year</a>
              <ul class="dropdown-menu span3">
                <li><a href="javascript:void(0);" data-bypass aria-selected>2013</a></li>
                <li><a href="javascript:void(0);" data-bypass>2012</a></li>
                <li><a href="javascript:void(0);" data-bypass>2011</a></li>
                <li><a href="javascript:void(0);" data-bypass>2010</a></li>
                <li><a href="javascript:void(0);" data-bypass>2009</a></li>
                <li><a href="javascript:void(0);" data-bypass>2008</a></li>
                <li><a href="javascript:void(0);" data-bypass>2007</a></li>
                <li><a href="javascript:void(0);" data-bypass>2006</a></li>
              </ul>
            </div>

            <div id="filter-house" class="dropdown dropdown-filter" role="select" aria-label="House">
              <a href="#" data-bypass id="filter-house-button" class="filter-item dropdown-toggle" aria-hidden data-toggle="dropdown">House</a>
              <ul class="dropdown-menu span3">
                <li><a href="javascript:void(0);" data-value="0" data-bypass aria-selected>Both Houses</a></li>
                <li><a href="javascript:void(0);" data-value="2" data-bypass>House of Reps.</a></li>
                <li><a href="javascript:void(0);" data-value="1" data-bypass>Senate</a></li>
              </ul>
            </div>

            <div id="filter-party" class="filter-party filter-item-border">
              <label id="toggle-liberals" class="boolean-filter filter-item">
                Liberals <input type="checkbox" value="Liberals" checked>
              </label>

              <label id="toggle-labor" class="boolean-filter filter-item">
                Labor <input type="checkbox" value="Labor" checked>
              </label>

              <label id="toggle-greens" class="boolean-filter filter-item">
                Greens <input type="checkbox" value="Greens" checked>
              </label>

              <label id="toggle-national" class="boolean-filter filter-item">
                National <input type="checkbox" value="National" checked>
              </label>

              <label id="toggle-other" class="boolean-filter filter-item">
                Other <input type="checkbox" value="Other">
              </label>
            </div>

            <label id="kitten-mode" class="filter-item-border filter-item boolean-filter">
               <input type="checkbox">
            </label>
          </div>
        </div>

        <div class="span9">
          <div id="bubble-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="row-fluid">
    <div class="credit">
      <p>Designed and developed by <a href="http://www.theglobalmail.org" class="tgm" target="_blank">The Global Mail</a></p>

      <p>Based on data from <a href="http://www.openaustralia.org" target="_blank">www.openaustralia.org</a></p>
    </div>
  </div>

  <script type="text/underscore-tmpl" id="member-popover-template">
    <div class="member-popover">
      <h3 class="name"><%= name %></h3>
      <small class="party"><%= party %></small>

      <div class="stats clearfix">
        <div class="speeches">
          Speeches
          <div class="number"><%= speeches %></div>
        </div>
        <div class="duration">
          Spoke for
          <div class="number"><%= durationString %></div>
        </div>
        <div class="interjections">
          Interjections
          <div class="number"><%= interjections %></div>
        </div>
      </div>
      <a href="<%= url %>" target="_blank">View profile on openaustralia.org</a>
    </div>
  </script>

  <div class="modal hide fade" id="about-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>About Talking Heads</h3>
    </div>

    <div class="modal-body">
      <p>The Global Mail has partnered with government transparency project <a href="http://www.openaustralia.org/" target="_blank">OpenAustralia</a>  to create a searchable database of the Australian Parliament&#8217;s Hansard records (the edited transcripts of debates).</p>

       <p>We have aggregated debate records going back to 2006, and we will be updating this database each time parliament sits.</p>

       <p>You can compare trends in phrases and words used by politicians with <a href="http://partylines.theglobalmail.org/" target="_blank">PartyLines</a>. This interactive graphic is set up with some examples of how political rhetoric varies by party and over time. Soon you will be able to search the database yourself using PartyLines as a tool. </p>

       <p>Follow our analysis and have your say on TGM&#8217;s <a href="http://powerhouse.theglobalmail.org/" target="_blank">Powerhouse blog.</a></p>

       <p>Talking Heads lets you check out the chattiest and most reticent MPs in the chambers. Is your representative at one of these extremes? Follow the link to Open Australia to see what Penny Wong can&#8217;t keep quiet about &#8212; and see if a cat has Mal Washer&#8217;s tongue. You can even turn them all into cats &#8212; and take out your frustration with the political process by banging some heads.</p>

       <p class="credits">Developed and designed by Andrew Cobby, B.J. Rossiter and Jamie Ferguson.</p>

       <p class="credits">Photo credits: Auspics, <a href="http://www.flickr.com/photos/randomskk/" target="_blank">Randomskk</a>, <a href="http://www.flickr.com/photos/eiriknewth/" target="_blank">Eirik Newth</a>, TGM Staff</p>
    </div>
  </div>

  <!--[if lt IE 9]>
  <div id="ie">
    <div class="container"><h3><strong>This feature does not work in your current browser.</strong>If you are able, <a href="http://browsehappy.com/" target="_blank">download a more recent browser</a> to view this feature, and have a better web experience in general.</h3>
      <a href="http://www.theglobalmail.org" class="close">Return to The Global Mail</a>
    </div>
  </div>
  <style>
  #main, #intro {
    display: none;
  }
  </style>
  <![endif]-->

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27879276-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <!--[if gte IE 9]><!-->
  <!-- build:js /scripts/libs.js -->
  <script src="/components/jquery/jquery.js"></script>
  <script src="/scripts/lib/jquery.xdr.js"></script>
  <script src="/components/d3/d3.js"></script>
  <script src="/components/lodash/lodash.js"></script>
  <script src="/components/backbone/backbone.js"></script>
  <script src="/components/backbone.analytics/backbone.analytics.js"></script>
  <script src="/components/cookie-monster/dist/monster.js"></script>
  <script src="/components/marionette/lib/backbone.marionette.js"></script>
  <script src="/components/backbone.mutators/backbone.mutators.js"></script>
  <script src="/components/bootstrap/js/bootstrap-transition.js"></script>
  <script src="/components/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="/components/bootstrap/js/bootstrap-popover.js"></script>
  <script src="/components/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="/components/bootstrap/js/bootstrap-modal.js"></script>
  <!-- endbuild -->

  <!-- build:js /scripts/talking-heads.js -->
  <script src="/scripts/lib/render-offscreen.js"></script>
  <script src="/scripts/lib/modal-hack.js"></script>
  <script src="/scripts/lib/bubble-chart.js"></script>
  <script src="/scripts/lib/selectr.js"></script>
  <script src="/scripts/lib/key-value-pair-parser.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/state-manager.js"></script>
  <script src="/scripts/models.js"></script>
  <script src="/scripts/views.js"></script>
  <script src="/scripts/router.js"></script>
  <script src="/scripts/kitten-mode.js"></script>
  <script src="/scripts/social-buttons.js"></script>
  <script src="/scripts/main.js"></script>
  <!-- endbuild -->
  <!--<![endif]-->
</body>
</html>
